<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/mainmenu.css">

        <script src="/js/global.js"></script>
        <script src="/js/mainmenu.js"></script>

        <title>Main Menu</title>
    </head>
    <body>
        <main>
        	<img id="border_image" src="/images/logo.png">
            <div id="main_menu">
                <p class="oregon_text">You may:</p>
                <table>
                    <tr class="normal_button" id="button_1">
                        <td>&nbsp;&nbsp;1.&nbsp;</td>
                        <td>Travel the trail</td>
                    </tr>
                    <tr class="normal_button" id="button_2">
                        <td>&nbsp;&nbsp;2.&nbsp;</td>
                        <td>Learn about the trail</td>
                    </tr>
                    <tr class="normal_button" id="button_3">
                        <td>&nbsp;&nbsp;3.&nbsp;</td>
                        <td>See the Oregon Top 10</td>
                    </tr>
                    <tr class="normal_button" id="button_4">
                        <td>&nbsp;&nbsp;4.&nbsp;</td>
                        <td id="sound_button">Turn sound off</td>
                    </tr>
                </table>
            </div>
            <img id="border_image" src="/images/border.png">
            <div id="bottom_text">
                <p class="menu_button"></p>
            </div>
        </main>
        <audio id="audio_player" loop>
            <source src="/music/menu_song.mp3" type="audio/mpeg">
        </audio>
    </body>
</html>