<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/mainmenu.css">

        <script src="/js/global.js"></script>
        <script src="/js/mainmenu.js"></script>

        <title>Main Menu</title>
    </head>
    <body>
        <main>
            <div>
                <img id="top_image" src="/images/menu_top.png">
            </div>
            <div id="main_menu">
                <p class="normal_button" id="button_1">1. Travel the Trail</p>
                <p class="normal_button" id="button_2">2. Learn About the Trail</p>
                <p class="normal_button" id="button_3">3. See the Oregon Top 10</p>
                <p class="normal_button" id="button_4">4. Turn Sound Off</p>
            </div>
            <div>
                <img id="bottom_image" src="/images/menu_bottom.png">
            </div>
        </main>
    </body>
</html>