<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/setup.css">

        <script src="/js/global.js"></script>
        <script src="/js/setup.js"></script>

        <title>Trail Setup</title>
    </head>
    <body>
        <main>
            <div>
                <img id="top_image" src="/images/menu_top.png">
            </div>
            <div id="setup_options">
                <p class="normal_button" id="button_1">1. Be a Banker from Boston</p>
                <p class="normal_button" id="button_2">2. Be a Carpenter from Ohio</p>
                <p class="normal_button" id="button_3">3. Be a Farmer from Illinois</p>
                <p class="normal_button" id="button_4">4. What's the difference?</p>
                <p id="menu_button">Press the spacebar to return to Main Menu</p>
            </div>
            <div>
                <img id="bottom_image" src="/images/menu_bottom.png">
            </div>
        </main>
    </body>
</html>