<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/topten.css">

        <script src="/js/global.js"></script>
        <script src="/js/topten.js"></script>

        <title>Top Scores</title>
    </head>
    <body>
        <main>
            <img id="border_image" src="/images/border.png">
            <div id="top_ten">
                <table id="top_ten_table"></table>
            </div>
            <img id="border_image" src="/images/border.png">
            <div id="bottom_text">
                <p class="menu_button" id="fade_text">Press SPACE BAR to return to Main Menu</p>
            </div>
        </main>
        <audio id="audio_player" loop>
            <source src="/music/menu_song.mp3" type="audio/mpeg">
        </audio> 
    </body>
</html>