#info {
    justify-self: flex-start;
    align-self: center;

    margin-left: 200px;
    margin-right: 200px;
    
    font-family: oregonFont;
    text-align: center;
<<<<<<< HEAD
}

#menu_button {
	background-color: rgba(0, 0, 0, 0.25);
    
	font-family: oregonFont;
    font-size: 22px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
=======
>>>>>>> 26ebc8509faccafe89770c9e9ab93cc06b77fc2f
}