<<<<<<< HEAD
main {
	grid-template-rows: 180px 382px 68px 90px;
}

#main_menu {
	margin: 60px 200px;
=======
#main_menu {
	align-self: flex-start;

	margin-left: 200px;
	margin-right: 200px;
>>>>>>> 26ebc8509faccafe89770c9e9ab93cc06b77fc2f
}