#top_ten {
	display: grid;
	justify-content: center;
}

#top_ten_table {
	border: 1px solid white;
	border-collapse: collapse;
	width: 800px;
}

#top_ten_table tr,
#top_ten_table th,
#top_ten_table td {
	border: 1px solid white;
	text-align: center;
}