#game_space {
    display: grid;
    justify-content: center;
}

#game_board {
    position: relative;
}

#trail_bg {
    width: 800px;
    height: 400px;
}

#wagon {
    position: absolute;
    bottom: 0;
    right: -96px;
}

#game_stats {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}